# OS files
.DS_Store
[Dd]esktop.ini

# Environments
.env
.venv/

# IDE
.vscode

# Python
__pycache__/
*.py[cod]

# Node, Next.js, TypeScript
node_modules/
.next/
*.tsbuildinfo
next-env.d.ts

# Documents and data files
*.pdf
*.csv

# Pipeline output
/pipelines/*/output
/pipelines/*/download_cache
